a.green {
    text-decoration: none;
    background-color: green;
    color: white;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: lighter;
    text-transform: uppercase ;
    border-radius: 15px;
    width: fit-content;
}
a.red {
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: lighter;
    text-transform: uppercase ;
    border-radius: 15px;
    width: fit-content;
}
@keyframes animation1 {
    from {background-color: black;}
    to {background-color: white;}
}

body {
    background-color: ghostwhite;
    width: 100%;
    margin: 0;
    padding: 20px;
    animation-name: animation1;
    animation-duration: 3s;
}
.animationbox {
    background-color: green;
    margin-top:20px;
    width: min-content;
    animation-name: animation2;
    animation-duration: 3s;
    
}
.animationbox p{
    padding: 15px;
    color: white;
}
@keyframes animation2 {
    from {left: 0px;}
    to {left: 200px;}
}


a.red:hover  {
    color:red;
    background-color: white;
    border: 1px solid red;
}
a.red:active {
    background-color: red;
    color: white;
}
a.green:hover  {
    color:green;
    background-color: white;
    border: 1px solid green;
}
a.green:active {
    background-color: green;
    color: white;
}
h1 {
    font-family: "Ubuntu";
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
* {
    box-sizing: border-box;
}
.text {
    font-family: "Lora";
    font-size: 15px;
    text-indent: 50px;
    width: 100%;
    height: 350px;
    padding: 10px;
    text-align: justify;
    overflow-y: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
img {
    width: 100%;
}
.image {
    float: left;
    width: 33.3%;
    padding: 5px;
}
.flex-container {
    display: flex;
}
h2 {
    font-family: "Ubuntu";
}
p {
    font-family: "Lora";
}
div.right {
    position: relative;
    width: 400px;
    right: 0px;
    border: 1px solid black;
}
.box {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}
p {
    font-family: "Lora";
}
.padding {
    padding: 100px 0;
    text-align: center;
}
.boxpx {
    line-height: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
.wLineHeight {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}
.flexboxcentering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.gambar1 {
    opacity: 0.5;
    transition: transform 2s;
    transition-delay: 0.5s;
}
.gambar1:hover {
    opacity: 1;
    transform: rotate(360deg);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    z-index: 1;
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
}
.dropdown-content a{
    color: black;
    padding: 14px, 16px;
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown1 {
    position: relative;
    display: inline-block;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 160px;
    z-index: 1;
    padding: 12px 16px;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
}
.dropdown-content1 p {
    margin: 0px;
}
.dropdown2 {
    position: relative;
    display: inline-block;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown2:hover .dropdown-content2 {
    display: block;
}
.desc {
    padding: 15px;
    text-align: center;
    background-color: grey;
    color: white;
}
.formcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}
input[type=submit]:hover {
    background-color: var(--hovercolor);
}
@font-face {
    font-family: roboto;
    src: url(/font/Roboto/Roboto-Thin.ttf);
}
.roboto {
    font-family: roboto;
    font-style:italic;
}
.column {
    margin-top: 20px;
    column-count: 2;
    text-align: justify;
    column-rule-style: dashed;
    column-rule-width: 1px;
    column-rule-color: blue;
    text-indent: 40px;
}
.columnspan {
    column-span: all;
}
:root {
    --hovercolor : #1e90ff;
}
.boxparent {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
    justify-content: center;
    align-items: center;
}
.boxy {
    width: 50%;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}